
// TYPOGRAPHY
// ============================================================================

body {
    font-family: $font-family-regular;
    overflow-x: hidden;
}

a {
    text-decoration: none;

    &:hover, &:active, &:focus {
        background: none;
        text-decoration: none;
    }
}

h1 {
    font-size: 46px;

    @include respond-to('sm') {
        font-size: 32px;
    }
}


h4 {
    font-size: 18px;
}

h5 {
    font-family: $font-family-medium;
    color: $color-title-2;
    font-size: 16px;
    margin: 0;
}

h2, h3, h4, h5, h6 {
    color: $color-title;
    line-height: normal;
}

p {

}

.divider {
    height: 2px;
    background: $color-secondary;
    width: 30px;
    display: block;
    margin: 0 auto 25px;

    &-sm {
        height: 2px;
        background: $color-purple-light;
        margin: 10px 0 15px;
        width: 15px;
        display: block;
    }
}

ul {
    list-style: none;
}

