
// VARIABLES
// ============================================================================

//COLORS
$color-light: #fff;
$color-primary: #6864ad;
$color-primary-light: #7774b5;
$color-secondary: #fe763a;
$color-cream: #e4e4e4;
$color-teal: #37474f;
$color-teal-light: #3f4c55;
$color-lght-gray: #e9ecee;
$color-dark-gray: #646e7d;
$color-dark-blue: #566f7b;
$color-purple: #6864ad;
$color-purple-light: #bebbf3;
$color-light-gray: #b0bec5;
$color-lighter-gray: #c0cad2;
$color-metal: #748993;
$color-gray: #b3c1c7;

//STROKES
$color-border-light: $color-cream;



// TYPOGRAPHY
// ===========================================================================
//font-family:
$font-family-regular: 'maison_neue_triallight', sans-serif;
$font-family-medium: 'maison_neue_trialbook', sans-serif;
$font-family-bold: 'maison_neue_trialbold', sans-serif;
//font-colors:
$color-title: $color-teal;
$color-title-2: $color-teal-light;
$color-heading: $color-dark-gray;
$color-feature: $color-dark-blue;
$color-feature-title: $color-purple;
$color-small: $color-light-gray;
$color-input-placeholder: $color-light-gray;
$olor-input-label: $color-dark-blue;
$color-input-border: #d2d8db;