
// VARIABLES
// ============================================================================

//COLORS
$color-light: #fff;
$color-primary: #6864ad;
$color-primary-light: #7774b5;
$color-secondary: #fe763a;
$color-tertiary: #363540;
$color-cream: #e4e4e4;
$color-teal: #37474f;
$color-teal-light: #3f4c55;
$color-lght-gray: #e9ecee;
$color-dark-gray: #646e7d;
$color-dark-blue: #566f7b;
$color-purple: #6864ad;
$color-purple-light: #bebbf3;
$color-light-gray: #b0bec5;
$color-lighter-gray: #c0cad2;
$color-metal: #748993;
$color-gray: #b3c1c7;
$color-footer-bg: #f6f6f6;
$color-section-bg: #f9f9f9;
$color-dark: #78777f;

//STROKES
$color-border-light: $color-cream;
$border: 1px solid #e9e9e9;



// TYPOGRAPHY
// ===========================================================================
//font-family:
$font-family-base: 'MaisonNeue', sans-serif;

//font-colors:
$color-title: $color-teal;
$color-title-2: $color-teal-light;
$color-heading: $color-dark-gray;
$color-feature: $color-dark-blue;
$color-feature-title: $color-purple;
$color-small: $color-light-gray;
$color-input-placeholder: $color-light-gray;
$olor-input-label: $color-dark-blue;
$color-input-border: #d2d8db;
