<% provide(:title, 'Aerotage: Aerospace engineering, staffing and recruiting services') %>
<% provide(:description, 'Aerotage is leader in aerospace staffing, engineering and recruiting services. Get qualified, professional candidates with aerospace recruiting.') %>

        <header class="header">
            <a class="header__logo" href="index.html">
                <svg class="icon icon-logo"><use xlink:href="img/symbol-defs.svg#icon-logo"></use></svg>
            </a>
            <form class="header__form">
                <div class="header__form-groups">
                    <div class="form-group">
                        <input type="search" class="form-control" id="searchField" placeholder="Looking for...">
                        <svg class="icon icon-search"><use xlink:href="img/symbol-defs.svg#icon-search"></use></svg>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="stateField" placeholder="Where...">
                        <svg class="icon icon-marker"><use xlink:href="img/symbol-defs.svg#icon-marker"></use></svg>
                    </div>
                </div>
                <button type="submit" class="btn__header btn__secondary">Search Jobs</button>
            </form>
            <button class="header__menu-toggle"> MENU
                <span class="header__menu-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="header__hamburger"></span>
                </span>
            </button>

            <div class="menu">
                <div class="menu__inner">
                    <div class="menu__header">
                        <div class="menu__avatar">
                            <img src="img/avatar.png" alt=""/>
                        </div>
                        <h3>Brad Hardwick</h3>
                        <p>President of Aerotage Group</p>
                    </div>
                    <div class="menu__content">
                        <h4>my aerotage</h4>
                        <ul class="menu__list">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Communities</a></li>
                            <li><a href="#">Job Blog</a></li>
                            <li><a class="collapsed" href="#sub-menu1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sub-menu1">Post Jobs <span><svg class="icon icon-arrow-down"><use xlink:href="img/sprite-contact.svg#icon-arrow-down"></use></svg></span></a>
                                <div class="menu__sub collapse" id="sub-menu1">
                                    <div class="well">
                                        <ul>
                                            <li><a href="#">Item 1</a></li>
                                            <li><a href="#">Item 2</a></li>       
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Company Profile</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                        <h4>aerotage</h4>
                        <ul class="menu__list">
                            <li><a href="working-with-us.html">WORKING WITH US</a></li>
                            <li><a class="collapsed" href="#sub-menu2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sub-menu2">AEROTAGE SOLUTIONS<span><svg class="icon icon-arrow-down"><use xlink:href="img/sprite-contact.svg#icon-arrow-down"></use></svg></span></a>
                                <div class="menu__sub collapse" id="sub-menu2">
                                    <div class="well">
                                        <ul>
                                            <li><a href="staffing-solutions.html">Staffing Solutions</a></li>
                                            <li><a href="technical-solutions.html">Technical Solutions</a></li> 
                                            <li><a href="engineering-solutions.html">Engineer Solutions</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a class="collapsed" href="#sub-menu3" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="sub-menu3">ABOUT US<span><svg class="icon icon-arrow-down"><use xlink:href="img/sprite-contact.svg#icon-arrow-down"></use></svg></span></a>
                                <div class="menu__sub collapse" id="sub-menu3">
                                    <div class="well">
                                        <ul>
                                            <li><a href="about-us.html">About Aerotage</a></li>
                                            <li><a href="faq.html">FAQs</a></li>       
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li><a href="overview.html">OVERVIEW</a></li>
                            <li><a href="contact-us.html">CONTACT</a></li>
                            <li><a href="blog.html">BLOG</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <section class="hero hero--technical">
            <div class="hero__bg" style="background-image: url('img/technical-intro.jpg')"  data-100-center="background-position: 50% 57px;" data-top-bottom="background-position: 50% -100px;" data-anchor-target=".hero"></div>
            <div class="hero__wrap animate fadeIn-top">
                <div class="intro" data-start="opacity: 1" data-top="opacity: 0" data-anchor-target=".intro__btn">
                    <h1>Onsite Aerospace Technical</h1>
                    <p>Aerotage offers onsite technical support by delivering the most skilled technicians, mechanics, inspectors, and manufacturing professionals.</p>
                    <a class="intro__btn btn__secondary" href="#">contact aerotage</a>
                </div>
            </div>
        </section>

        <aside class="sub-nav">
            <div class="sub-nav__wrap">
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="staffing-solutions.html">Aerospace Stuffing Solutions and Services</a></li>
                    <li class="active">Onsite Aerospace Technical</li>
                </ol>
            </div>
        </aside>

        <section class="section technical section--left">
            <div class="section__wrap">
                <div class="section__heading animate fadeIn-top">
                    <svg class="section__icon icon icon-technical"><use xlink:href="img/sprite-technical.svg#icon-technical"></use></svg>
                    <small>onsite technical solutions</small>
                    <h2>Our Team, Your Location</h2>
                </div>
                <div class="section__inner">
                    <div class="section__text animate fadeIn-right">
                        <h3>Onsite Technical Solutions</h3>
                        <p>
                            Aerotage onsite technical support drives efficiency, quality, and enhances business processes by employing the industry's best mechanics,
                            technicians, inspectors, and aerospace manufacturing experts.
                            Our onsite team provides increased undivided attention and dedication to meet your specific business needs.
                        </p>
                    </div>
                    <div class="section__img">
                        <img src="img/technical-bg-1.jpg" alt="section background"/>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section--positions">
            <div class="section__wrap">
                <div class="section__heading animate fadeIn-top">
                    <svg class="section__icon icon icon-position"><use xlink:href="img/sprite-technical.svg#icon-position"></use></svg>
                    <small>onsite technical solutions</small>
                    <h2>Our Team, Your Location</h2>
                    <p>
                        Aerotage offers a variety of onsite technical positions ranging from manufacturing to mechanics and technicians. 
                        Browse below to learn more.
                    </p>
                </div>
                <div class="section__inner">
                    <div class="feature animate fadeIn-top">
                        <div class="feature__img">
                            <img src="img/tehnical-1.png" alt="technicians image"/>
                        </div>
                        <div class="feature__caption">
                            <h4>Manufacturing</h4>
                            <p>
                                Manufacturing services and solutions cover areas of expertise from basic precision manufacturing to innovative manufacturing.
                            </p>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <div class="feature__img">
                            <img src="img/tehnical-2.png" alt="technicians image"/>
                        </div>
                        <div class="feature__caption">
                            <h4>Aircraft Maintenance Technicians</h4>
                            <p>
                                Responsible for flight safety through successfully conducting technical protocols and aircraft maintenance.
                            </p>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <div class="feature__img">
                            <img src="img/tehnical-3.png" alt="technicians image"/>
                        </div>
                        <div class="feature__caption">
                            <h4>Aircraft Structural Technicians</h4>
                            <p>
                                Build, install, and maintain composite structures and assess aircraft devices as required.
                            </p>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <div class="feature__img">
                            <img src="img/tehnical-4.png" alt="technicians image"/>
                        </div>
                        <div class="feature__caption">
                            <h4>Avionics Technicians</h4>
                            <p>
                                Maintain aircraft instruments, electronic, safety and navigation systems.
                            </p>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <div class="feature__img">
                            <img src="img/tehnical-5.png" alt="technicians image"/>
                        </div>
                        <div class="feature__caption">
                            <h4>FAA Quality Inspectors</h4>
                            <p>
                                Perform final inspection of aircraft components, and ensure all parts are manufactured and installed correctly.
                            </p>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <div class="feature__img">
                            <img src="img/tehnical-6.png" alt="technicians image"/>
                        </div>
                        <div class="feature__caption">
                            <h4>Manufacture Quality Inspectors</h4>
                            <p>
                                Supervise development and implementation of manufacturing activities to ensure all quality standards and regulations are being met.
                            </p>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <div class="feature__img">
                            <img src="img/tehnical-7.png" alt="technicians image"/>
                        </div>
                        <div class="feature__caption">
                            <h4>Aircraft Interior Mechanics</h4>
                            <p>
                                Perform maintenance checks and repairs, while meeting all safety standards and deadlines.
                            </p>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <div class="feature__img">
                            <img src="img/tehnical-8.png" alt="technicians image"/>
                        </div>
                        <div class="feature__caption">
                            <h4>Aircraft Composite Technicians</h4>
                            <p>
                                Manufacture aircraft parts by using specialized tools and project specifications.
                            </p>
                        </div>
                    </div>
                    <div class="feature animate fadeIn-top">
                        <div class="feature__img">
                            <img src="img/tehnical-9.png" alt="technicians image"/>
                        </div>
                        <div class="feature__caption">
                            <h4>Management / Supervison / Leads</h4>
                            <p>
                                Drive specific projects or manufacturing processes to create quality aircraft parts according to quality, client, and safety standards.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section technical section--right">
            <div class="section__wrap">
                <div class="section__inner">
                    <div class="section__img">
                        <img src="img/technical-bg-2.jpg" alt="section background"/>
                    </div>
                    <div class="section__text animate fadeIn-left">
                        <h3>Quality Onsite Solutions</h3>
                        <p>
                            Aerotage takes the time to fully understand your business needs, and provide quality talent and services,
                            onsite when most optimal. Our onsite team, consisting of highly qualified technicians, inspectors, and manufacturing leads,
                            serve as an extension to your organization. Our goal is to consistently provide workplace solutions that improve processes and grow business.
                        </p>
                    </div>
                </div>
            </div>
        </section>
