<% provide(:title, 'Privacy Policy') %>

<div class="privacy-policy-page">
  <h1>The Aerotagejobs.com Web Site Privacy Policy</h1>

  <%= image_tag 'privacy_policy.png' %>

  <p class="justified">
    The privacy, confidence, and trust of individuals who visit Aerotagejobs.com are important to us. No personal information is collected at this site unless it is provided
    voluntarily by an individual while participating in an activity that asks for the information. The following paragraphs disclose the information gathering and usage
    practices for the website.
  </p>

  <h2>Collection of Information</h2>
  <p class="justified">
    Aerotagejobs.com only collects the personal information that is necessary to provide the information or services requested by an individual. “Personal information” refers
    to any information relating to an identified or identifiable individual who is the subject of the information. We also collect statistical information that helps us
    understand how people are using the web site so we can continually improve our services. The information collected is not associated with any specific individual and no
    attempt is made to profile individuals who browse the web site. You may be asked to participate in surveys at this site. Participation is optional, and the choice to
    participate or not to participate will have no effect on your ability to use other features of the site.
  </p>
  <h2>Use of Information</h2>
  <p>
    Aerotagejobs.com uses the collected information to respond appropriately to requests. This may be to respond directly to you or to improve the web site. E-mail or other
    information requests sent to Aerotagejobs.com may be maintained or forwarded to the appropriate individuals or employer/clients in order to respond to the request. Survey
    information is used for the purpose designated in the survey.
  </p>
  <h2>Retention of Information</h2>
  <p>
    Records needed to support Aerotagejobs.com functions are retained, managed, and accessible in record-keeping or filing systems. Records transmitted to this site will be
    identified, managed, protected, and retained as long as they are needed to meet historical, administrative, fiscal, or legal requirements.
  </p>
  <h2>Web Site Security</h2>
  <p>
    Aerotagejobs.com is committed to the security of the information that is either available from or collected by this website. Aerotagejobs.com has taken multiple steps to
    safeguard the integrity of its telecommunications and computing infrastructure, including but not limited to, authentication, monitoring and auditing.
  </p>
  <h2>Links to Other Sites</h2>
  <p>
    This website has links to many other web sites. These include links to websites operated by government agencies, nonprofit organizations, and private businesses. Neither
    Aerotagejobs.com nor Aerotage Design Group, Inc. is responsible for the content or privacy practices of these sites and suggests you review their privacy statements.
  </p>
  <h2>Contact Information</h2>
  <p>
    Aerotage Design Group, Inc. welcomes comments regarding this privacy statement. Please convey any questions or concerns to: admin@aerotagejobs.com or P.O. Box 1026 Central,
    SC 29630.
  </p>
</div>
