
@font-face {
    font-family: 'MaisonNeue';
    src: url("fonts/MaisonNeueWEB-Book.woff2") format("woff2");
    src: url("fonts/MaisonNeueWEB-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue';
    src: url("fonts/MaisonNeueWEB-Bold.woff2") format("woff2");
    src: url("fonts/MaisonNeueWEB-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MaisonNeue';
    src: url("fonts/MaisonNeueWEB-Light.woff2") format("woff2");
    src: url("fonts/MaisonNeueWEB-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}


// VENDOR
@import "compass";
@import "vendor/_bootstrap-variables.scss";
@import "vendor/_bootstrap-compass.scss";
@import "vendor/_bootstrap-mincer.scss";
@import "vendor/_bootstrap-sprockets.scss";
@import "vendor/_bootstrap.scss";
@import "vendor/_selectric.scss";
@import "vendor/_mCustomScrollbar.scss";
@import "vendor/_tags-input.scss";

//BASE
@import "base/_variables.scss";
@import "base/_placeholders.scss";
@import "base/_mixins.scss";
@import "base/_typography.scss";

//COMPONENTS
@import "components/_buttons.scss";
@import "components/_input.scss";
@import "components/_pagination.scss";
@import "components/_animations.scss";
@import "layout/_filter.scss";

// LAYOUT
@import "layout/_hero.scss";
@import "layout/_section.scss";
@import "layout/_feature.scss";
@import "layout/_navbar.scss";
@import "layout/_intro.scss";
@import "layout/_footer.scss";
@import "layout/_box.scss";
@import "layout/_header.scss";
@import "layout/_sub-nav.scss";
@import "layout/_card.scss";

// PAGES
@import "pages/_home.scss";
@import "pages/_about-us.scss";
@import "pages/_login.scss";
@import "pages/_contact-us.scss";
@import "pages/_staffing.scss";
@import "pages/_faq.scss";
@import "pages/_working-with-us.scss";
@import "pages/_overview.scss";
@import "pages/_blog.scss";
@import "pages/_technical.scss";
@import "pages/_job-results.scss";
