<p> Dear <%= @user.display_name %>,</p>

<p> This email is to notify you that your password on AerotageJobs has been updated.</p>

<p> If you did not request this change then immediately contact AerotageJobs at admin@aerotagejobs.com.</p>
