<h3>Welcome</h3>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

<div class="harvest-timer"
  data-item='{"id":1337,"name":"Write documentation"}'>
</div>

<div id="whr_embed_hook"></div>

<script src='https://www.workable.com/assets/embed.js' type='text/javascript'></script>
<script type='text/javascript' charset='utf-8'>
whr(document).ready(function(){
whr_embed(16934, {detail: 'titles', base: 'locations', zoom: 'state'});
});
</script>

<script>
  (function () {
    window._harvestPlatformConfig = {
      "applicationName": "ExampleCompany",
      "permalink": "https://example.com/item/%ITEM_ID%" 
    };
    var s = document.createElement("script");
    s.src = "https://platform.harvestapp.com/assets/platform.js";
    s.async = true;
    var ph = document.getElementsByTagName("script")[0];
    ph.parentNode.insertBefore(s, ph);
  })();
</script>

