<% provide(:title, 'Add New Question') %>

<div class="questionnaires-page">
  <%= form_for @question do |f| %>
    <%= render 'shared/error_messages', target: f.object %>
    <%= render 'fields', f: f %>
    <div class="row narrow buttons">
      <div class="col-xs-12">
        <%= f.submit 'Add', class: 'wide' %>
      </div>
    </div>
  <% end %>
</div>
