<%= f.text_area field, placeholder: placeholder, class: 'textarea-field' %>
<div class="hint">Formatting Options: &nbsp;&nbsp;&nbsp; **bold** &nbsp;&nbsp;&nbsp; *italic* &nbsp;&nbsp;&nbsp; * bulleted list</div>
