<div class="blog-control-panel">
  <div class="control-buttons.clear">
    <div class="community-trigger">Community Posts</div>
    <div class="blog-search-trigger">Blog Search</div>
  </div>
  <%= render 'blog_posts/blog_controls' %>
</div>
<% include_script 'blog-control-panel' %>
