
/* CSS ANIMATIONS
   ========================================================================== */ 

.fadeIn-top {
    opacity: 0;
    @include translateY(100px);

    &.visible {
        opacity: 1;
        @include translateY(0);
        @include transition( all 1.25s cubic-bezier(0.49, 0.99, 0.54, 0.98));
    }
}


.fadeIn-left {
    opacity: 0;
    @include translateX(100px);

    &.visible {
        opacity: 1;
        @include translateX(0);
        @include transition( all 1.25s cubic-bezier(0.49, 0.99, 0.54, 0.98));
    }
}

.fadeIn-right {
    opacity: 0;
    @include translateX(-100px);;

    &.visible {
        opacity: 1;
        @include translateX(0);
        @include transition( all 1.25s cubic-bezier(0.49, 0.99, 0.54, 0.98));
    }
}

.fadeIn {
    opacity: 0;
    @include scale(0);

    &.visible {
        opacity: 1;
        @include scale(1);
        @include transition( all 1.25s cubic-bezier(0.49, 0.99, 0.54, 0.98));
    }
}

.section__img--fluid {
    opacity: 0;
    @include translateX(-100px);

    &.visible {
        opacity: 1;
        @include translateX(0);
        @include transition( all 5s cubic-bezier(0.49, 0.99, 0.54, 0.98));
    }
}

.step {

    &-1 {
        -webkit-transition-delay: 0s !important;
        transition-delay: 0s !important;
    }

    &-2 {
        -webkit-transition-delay: 0.3s !important;
        transition-delay: 0.3s !important;
    }

    &-3 {
        -webkit-transition-delay: 0.6s !important;
        transition-delay: 0.6s !important;
    }

    &-4 {
        -webkit-transition-delay: 0.9s !important;
        transition-delay: 0.9s !important;
    }
}
.animate {
    @include respond-to('sm') {
        opacity: 1;
        @include translateY(0);
        @include transition(none);
    }
}
