
/* BUTTONS
   ========================================================================== */ 

.btn {

    &__light {
        @extend %button;
        background: $color-light;
        color: $color-primary;
        border: 1px solid transparent;

        &:hover, &:focus, &:active {
            background: transparent;
            color: $color-light;
            border: 1px solid $color-light;
        }
    }

    &__primary {
        @extend %button;
        background: $color-primary;
        color: $color-light;

        &:hover, &:focus, &:active {
            background: darken($color-primary, 10%);
            color: $color-light;
        }

        &--light {
            background: $color-primary-light;

            &:hover, &:focus, &:active {
                background: lighten($color-primary-light, 10%);
            }
        }
    }

    &__secondary {
        @extend %button;
        background: $color-secondary;
        color: $color-light;

        &:hover, &:focus, &:active {
            background: darken($color-secondary, 10%);
            color: $color-light;
        }
    }

    &__reverse {
        @extend %button;
        background: transparent !important;
        color: $color-light;
        border: 1px solid $color-light;

        &:hover, &:focus, &:active {
            background: $color-light !important;
            color: $color-primary;
            border: 1px solid transparent;
        }

        &--prim {
            @extend %button;
            background: transparent !important;
            color: $color-primary;
            border: 1px solid $color-primary;

            &:hover, &:focus, &:active {
                background: $color-primary !important;
                color: $color-light;
                border: 1px solid transparent;
            }
        }

        &--sec {
            @extend %button;
            background: transparent !important;
            color: $color-secondary;
            border: 1px solid $color-secondary;

            &:hover, &:focus, &:active {
                background: $color-secondary !important;
                color: $color-light;
                border: 1px solid transparent;
            }
        }
    }

    &__submit {
        @extend %button;
        font-weight: 700;
    }

    &__facebook {
        background: #3b5998;

        &:hover, &:focus, &:active {
            background: #3b5998;
        }
    }

    &__google {
        background: #dd4b39;

        &:hover, &:focus, &:active {
            background: #dd4b39;
        }
    }
}

