<div class="form-group">
  <%= f.label field, class: 'col-sm-4 control-label' %>
  <div class="col-sm-8">
    <div class="checkbox">
      <%= label_tag do %>
        <%= f.check_box field %>
      <% end %>
    </div>
  </div>
</div>
