<% required = false if local_assigns[:required].nil? %>

<div class="form-group">
  <%= label_tag nil, 'Location', class: "col-sm-4 control-label #{required ? 'required' : ''}" %>
  <div class="col-sm-8">
    <%= text_field_tag nil, object.location ? object.location.zip_code : nil, id: 'zip_code', class: 'form-control', placeholder: 'Zip Code', data: { source: autocomplete_zip_code_url, url: locations_zip_code_info_url,object: object_name(object), selected: object.location ? object.location.id : nil } %>  
    <div id="location-loading-wrapper"><%= image_tag 'ajax_preloader.svg' %></div>

    <div id="location-field-wrapper">
      <%= text_field_tag nil, nil, placeholder: '* Location (enter Zip Code first)', disabled: 'disabled', class: 'form-control' %>
    </div>
  </div>
</div>
<% include_script 'location-field' %>
