<% required = false if local_assigns[:required].nil? %>

<div class="form-group">
  <%= f.label field, title, class: "col-sm-4 control-label #{required ? 'required' : ''}" %>
  <div class="col-sm-8">
    <%= f.select field, options, {}, { multiple: 'multiple', class: 'multiselect form-control' } %>
  </div>
</div>