<% required = false if local_assigns[:required].nil? %>

<div class="form-group">
  <%= f.label field, class: "col-sm-4 control-label #{required ? 'required' : ''}" %>
  <div class="col-sm-8">
    <%= f.text_field field, class: 'form-control' %>
  </div>
</div>
