@font-face {
  font-family: 'MaisonNeue';
  src: font-url("MaisonNeueWEB-Book.woff2") format("woff2");
  src: font-url("MaisonNeueWEB-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaisonNeue';
  src: font-url("MaisonNeueWEB-Bold.woff2") format("woff2");
  src: font-url("MaisonNeueWEB-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'MaisonNeue';
  src: font-url("MaisonNeueWEB-Light.woff2") format("woff2");
  src: font-url("MaisonNeueWEB-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}