
/* SECTION
   ========================================================================== */ 

.section {

    &__wrap {
        @extend .container;
    }

    &__heading {
        text-align: center;
        z-index: 999;

        small {
            font-family: $font-family-bold;
            color: $color-small;
            text-transform: uppercase;
            display: block;
        }

        h2 {
            margin-bottom: 25px;
            margin-top: 15px;
        }

        p {
            color: $color-heading;
            line-height: 26px;
            padding: 0 8%;
            margin: 0;

            @include respond-to('lg') {
                padding: 0 5%;
            }

            @include respond-to('md') {
                padding: 0;
            }
        }

    }

    &__img {
        position: absolute;
        bottom: 0;
        
        img {
            @include square(100%);
        }
    }

    &__btn {
        @extend %button;
        margin-top: 35px;
    }

    &__icon {
        @include square(52px);
        margin-bottom: 25px;
    }

    &__inner {
        @include make-row();
    }
}