<li>
  <strong><%= work_experience.company_name %></strong>
  ,
  <%= work_experience.job_title %>
  <% if work_experience.start_date && work_experience.end_date %>
    (#{work_experience.start_date.to_date.to_formatted_s(:month_year)} - #{work_experience.end_date.to_date.to_formatted_s(:month_year)})
  <% end %>
  <br/>
  <%= work_experience.description.html_safe %>
</li>
