
/* INTRO
   ========================================================================== */ 

.intro {
    color: $color-light;
    text-align: center; 
    position: relative;
    z-index: 99;

    @include respond-to('md-1024') {
        padding: 0;
    }

    &--home {
        @include respond-to('xxxs') {
            padding-top: 0;
        }
    }

    h1 {

        @include respond-to('sm') {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 15px;

        }
    }

    p {
        font-size: 20px;
        width: 65%;
        margin: 0 auto;


        @include respond-to('sm') {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 15px;
            width: 95%;
        }
    }

    &__btn {
        @extend %button-lg;
    }
}