
/* SUB PAGE NAVIGATION
   ========================================================================== */ 

.sub-nav {
    background: $color-section-bg;
    border-bottom: 1px solid #ebebeb;

    &__wrap {
        @extend .container;
    }

    .breadcrumb {
        height: 70px;
        margin: 0;
        background: transparent;
        line-height: 70px;
        padding: 0;

        .active {
            color: $color-dark-blue;
            font-size: 15px;
        }

        a {
            color: $color-secondary;
            font-size: 15px;
        }

        & > li + li::before {
            content: '\0203A';
            font-size: 25px;
            position: relative;
            top: 2px;
            color: $color-secondary;
        }
    }
}