<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__top">
            <div class="footer__list">
                <h5>Explore Aerotage</h5>
                <span class="divider-sm"></span>
                <ul>
                    <li><%= link_to 'About Us', about_path %></li>
                    <li><a href="#">Blog</a></li>
                    <li><%= link_to 'Contact Us', contact_path %></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="footer__list">
                <h5>Staffing Solutions</h5>
                <span class="divider-sm"></span>
                <ul>
                    <li><a href="#">Aerospace Technical</a></li>
                    <li><a href="#">Aerospace Recruiting</a></li>
                    <li><a href="#">Aerospace Engineering</a></li>
                </ul>
            </div>
            <div class="footer__list">
                <h5>Aerospace Engineering</h5>
                <span class="divider-sm"></span>
                <ul>
                    <li><a href="#">Project Requirements</a></li>
                    <li><a href="#">Avionics Electrical Design</a></li>
                    <li><a href="#">Mechanical Design</a></li>
                    <li><a href="#">Engineering Retainers</a></li>
                </ul>
            </div>
            <div class="footer__list">
                <h5>Associate Resources</h5>
                <span class="divider-sm"></span>
                <ul>
                    <li><a href="#">Working with Aerotage</a></li>
                    <li><a href="#">Tools & Resources</a></li>
                    <li><a href="#">Associate Portal</a></li>
                    <li><a href="#">FAQs</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <svg class="icon icon-logo"><use xlink:href="assets/symbol-defs.svg#icon-logo"></use></svg>
        <div class="footer__social">
            <a class="social__icon" href="https://www.facebook.com/pages/AerotageJobs/210375332432566?fref=ts"><svg class="icon icon-facebook" target="_blank"><use xlink:href="assets/symbol-defs.svg#icon-facebook"></use></svg></a>
            <a class="social__icon" href="https://www.twitter.com/aerotage" target="_blank"><svg class="icon icon-twitter"><use xlink:href="assets/symbol-defs.svg#icon-twitter"></use></svg></a>
            <a class="social__icon" href="#"><svg class="icon icon-linkedin"><use xlink:href="assets/symbol-defs.svg#icon-linkedin"></use></svg></a>
            <a class="social__icon" href="http://www.linkedin.com/company/aerotagejobs" target="_blank"><svg class="icon icon-google"><use xlink:href="assets/symbol-defs.svg#icon-google"></use></svg></a>
        </div>
        <p><%= link_to 'Terms & Conditions', terms_of_use_path %> &middot; <%= link_to 'Privacy Policy', privacy_policy_path %></p>
        <small>&COPY; 2016 Aerotage</small>
    </div>
</footer>
