<!DOCTYPE html>
<html>
  <head><%= render 'layouts/head' %></head>
  <body id="skrollr-body">
    <%= render 'layouts/header' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>