<html>
  <head><%= render 'layouts/head' %></head>
  <body id="skrollr-body" class="my-account <%= [current_user_class, (yield(:scripts) if content_for?(:scripts))] %>">
      <%= render 'layouts/flash' %>
      <%= yield %>
  </body>
</html>
